.module { 
    float:left;
}

#module {
    margin-left: 32px;
    float:left;

}
.cardtitle {
    margin-bottom: 40px;
    font-size: 32px;
}

.pagetile{
    font-family: times, Times New Roman, times-roman, georgia, serif;
	color: rgb(0, 0, 0);
	margin: 0;
	font-size: 56px;
	line-height: 44px;
	letter-spacing: -1px;
	font-weight: bold;
    margin-bottom: 40px;

}
.module.entry {
    float:left;

}
.moduleboard {
    float: left;
}
.modulesidebar {
    float: left;
    margin-left: 32px;
    width: 200px;
}
.modulesidebartitle {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.modulesidebardescription {
    text-align: left;
}

.module.sidebarbutton {
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    background-color: white;
    border: 2px solid var(--main-blue-color);
    color: var(--main-blue-color);
    font-weight: bold;
}
.module.sidebarbutton:hover {
    background-color: var(--main-blue-color);
    color: white;
}
.moduleentry.card {
    margin: auto;
    width: 70%;
    margin-bottom: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    border-left: none;
    border-right: none;
    min-height: 280px;
}


.moduleentry.card .icon {
    position: absolute;
    
}

.moduleentry.card .content {
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;             
    margin-left: 240px;

    float: left;
    
}

.tags {
    position: absolute;
    bottom: 10px;
    font-weight: bold;
}

.moduleentry .tags {
    margin-left: 20px;
}

.moduleentry.card img{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 240px;
    float: left;
}


.moduleentry.card:hover {
    background-color: rgb(238, 238, 238);

}
.moduleentry.card p{
    font-size: 20px;
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;   
}

.moduleentry.card{
    text-decoration: none;
    font-size: 24px;
    color:rgb(73, 73, 73)

}

.sidebar.button{
    background-color: white;
}

.sidebar.button:hover{
    background-color: rgb(48, 83, 177);
}