#conceptssidebar {
  background-color: black;
  position: absolute;
  height: calc(100vh - 50px);
  z-index: 0;
  right: 0;
  top: 0;
  flex-direction: column;
  border-right: solid 1px #3c4245;
  background-color: rgb(39, 43, 48);
  box-shadow: -4px -1px 4px rgba(9, 10, 10, 0.3);

}