.paintinghousespuzzle {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 36px);
    grid-template-rows: repeat(10, 36px);
    height: 40px;
    column-gap: 4px;
    row-gap: 4px;
    margin-bottom: 60px;
}


.paintinghousescosts {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 36px);
    grid-template-rows: repeat(10, 36px);
    height: 40px;
    color: white;
    border: none;
    column-gap: 4px;
    row-gap: 16px;
  
}
.paintinghousesselectors{
    margin-top: 60px;
}
.paintinghouses.selection.cell {
    float: left;
    margin-right: 8px;
}

.paintinghouses.unselected.selection.cell {
    width: 36px;
    height: 36px;
}
.paintinghouses.selected.selection.cell {
    width: 48px;
    height: 48px;
}

.paintinghousescosts .paintinghouses.cell{
    color: white;
    border: none;
    font-size: 20px;
}

.paintinghouses.cell{
    border: 1px solid black;
}

#paintinghousestotalcost {
    font-size: 24px;
    text-decoration: underline;
}